# Gathering Data from HTML folder locally

In [140]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [142]:
# create emty list to collect 'title','audience' and 'User_rating' as dic
df_list = []
#assign html folder to variable named folder
folder='rt_html'
#create for loop for each page using os.listdir len time
for i in os.listdir(folder):
    with open(os.path.join(folder,i)) as file:
        #make the soup
        soup=BeautifulSoup(file)
        #extract title
        title=soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        #extract aud
        aud=soup.find('span',class_="superPageFontColor").find('span').contents[0]
        #extract user_rate
        user_rate=soup.find('div',class_="audience-info hidden-xs superPageFontColor").find_all('div')[1].contents[2].strip().replace(',','')
        #append each title','audience' and 'User_rating' to our df_list
        df_list.append({'title':title, 'audience':int(aud),'User_rating':int(user_rate)})

In [143]:
#create dataframe and assign name to each column as bellow
df=pd.DataFrame(df_list,columns=['title','audience','User_rating'])
df

                                      title  audience  User_rating
0                           Zootopia (2016)        98        98633
1   The Treasure of the Sierra Madre (1948)       100        25627
2     All Quiet on the Western Front (1930)       100        17768
3                        Rear Window (1954)       100       149458
4                              Selma (2015)        99        60533
..                                      ...       ...          ...
95           The Night of the Hunter (1955)        98        24322
96          A Streetcar Named Desire (1951)        98        54761
97                           Arrival (2016)        94        78740
98                           Skyfall (2012)        93       372497
99                         Star Trek (2009)        95       746458

[100 rows x 3 columns]